<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Completed Landscaping Sessions</title>
</head>
<body>

    <div class="navbar"> 
        <a href="/index">Home Page</a>
        <a href="/properties">Properties</a>
        <a href="/CompletedLandscapingSessions">Completed Landscaping Work</a>
        <a href="/PropertyOwners">Property Owners</a>
        <a href="/CrewLeaders">Crew Leaders</a>
        <a href="/Employees">Employees</a>
        <a href="/PropertyOwned">Properties and their Owners</a>
    </div>
    
    <br>
    <br>
    Completed Landscaping Work Page
    <br>
    <br>
    <table style="border:solid">
        <caption>
            Completed Landscaping Sessions on file
        </caption>
        <thead>
            <th>Session Date</th>
            <th>Property Address</th>
        </thead>
        <tbody>
            {{#each sessions}}
            <tr>
                <td>{{this.sessionDate}}</td>
                <td>{{this.address}}</td>
                <td><button>Update</button></td>
                <td><button>Delete</button></td>
            </tr>
            {{/each}}
        </tbody>
        
    </table>
    <br>

        <form id="addSession" action="/CompletedLandscapingSessions" method="post">
            <fieldset> 
                <legend>Add new Completed Landscaping Session</legend>
                Date: <input type="date" name="sessionDate"><br>

                Property: <select name="propertyID">
                    {{#each properties}}
                    <option value="{{this.propertyID}}">{{this.propAddress}}</option>
                    {{/each}}
                </select><br>

            <input type="submit" value="Submit">

            </fieldset>
        </form>

    <br>
    <form action ="">
        <fieldset>
            <legend>Search for Completed Landscaping Session by Property ID</legend>
            <label for = "propertyIdSearch"> Property ID: </label>
            <input type = "number" id = "propertyIdSearch" name= "propertyIdSearch"><br>
            <input type = "submit" value = "submit">
        </fieldset>
        
    </form>

</body>
</html>