<!-- index.hbs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    Home Page
    <br>
    Team CS340 Costello-Murphy
    <br>
    <br>

    <div class="menu" style="border:solid"> 
        Options: 
        <br>
        <a href="/properties">View, Add, Update and Delete Properties</a>
        <br/>
        <a href="/CompletedLandscapingSessions">View, Add, Update, and Delete Completed Landscaping Work</a>
        <br/>
        <a href="/PropertyOwners">View, Add, Update, and Delete Property Owners</a>
        <br/>
        <a href="/CrewLeaders">View, Add, Update, and Delete Crew Leaders</a>
        <br/>
        <a href="/Employees">View, Add, Update, and Delete Employee</a>
        <br/>
        <a href="/PropertyOwned">Manage Properties and their Owners</a>
    </div>
</body>
</html>