<!-- index.hbs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    Home Page
    <div class="menu"> 
        <a href="/properties">Properties Page</a>
        <a href="/CompletedLandscapingSessions">Completed Landscaping Work Page</a>
        <a href="/PropertyOwners">Property Owners Page</a>
        <a href="/CrewLeaders">Crew Leaders Page</a>
        <a href="/Employees">Employee Page</a>
    </div>
</body>
</html>