  
<h1>Update {{property.propAddress}}:</h1>
<form id="propertiesUpdate" action="/properties" method="post">
    Address: <input type="text" name="address" value="{{property.propAddress}}"><br>
</form>

<td> <button class=""> <a href="/propertiesUpdate/{{property.propAddress}}"> Update </a> </button> </td>