<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Property Owners</title>
</head>
<body>
    <a href="/index">Home Page</a>
    <br>
    <br>
    Property Owners Page
    <br>
    <br>
    <table style="border:solid">
        <caption>Current Property Owners on file:</caption>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
        </tr>
        <tr>
            <td>John</td>
            <td>Doe</td>
            <td>johndoe@yahoo.com</td>
            <td>
                <button>Update</button>
            </td>
            <td>
                <button>Delete</button>
            </td>
        </tr>
    </table>
    <br>
    <form action="" method="">
        <fieldset>
            <legend>Add a new Property Owner</legend>
            <label>
                First Name:
                <input type="text"/>
            </label>
            <label>
                Last Name:
                <input type="text"/>
            </label>
            <label>
                Email:
                <input type="email"/>
            </label>
            <input type="submit" value="Submit" />
        </fieldset>
    </form>
</body>
</html>