<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Property Owners</title>
</head>
<body>
    <div class="navbar"> 
        <a href="/index">Home Page</a>
        <a href="/properties">Properties</a>
        <a href="/CompletedLandscapingSessions">Completed Landscaping Work</a>
        <a href="/PropertyOwners">Property Owners</a>
        <a href="/CrewLeaders">Crew Leaders</a>
        <a href="/Employees">Employees</a>
        <a href="/PropertyOwned">Properties and their Owners</a>
    </div>
    
    <br>
    <br>
    Property Owners Page
    <br>
    <br>
    <table style="border:solid">
        <caption>
            Property Owners On File
        </caption>
        <thead>
            <th>Owner ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
        </thead>
        <tbody>
            {{#each data}}
            <tr>
                <td>{{this.ownerID}}</td>
                <td>{{this.fname}}</td>
                <td>{{this.lname}}</td>
                <td>{{this.email}}</td>
                <td><button>Update</button></td>
                <td><button>Delete</button></td>
            </tr>
            {{/each}}
        </tbody>
        
    </table>
    <br>
    <form action="" method="">
        <fieldset>
            <legend>Add a new Property Owner</legend>
            <label>
                First Name:
                <input type="text"/>
            </label>
            <label>
                Last Name:
                <input type="text"/>
            </label>
            <label>
                Email:
                <input type="email"/>
            </label>
            <input type="submit" value="Submit" />
        </fieldset>
    </form>
</body>
</html>