<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Properties</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous">

        function deleteProperty(id){
            $.ajax({
                url: '/properties/' + id,
                type: 'DELETE',
                sucess: function(result){
                    window.location.reload(true);
                }
            })
        };

    </script>
</head>
<body>

    <div class="navbar"> 
        <a href="/index">Home Page</a>
        <a href="/properties">Properties</a>
        <a href="/CompletedLandscapingSessions">Completed Landscaping Work</a>
        <a href="/PropertyOwners">Property Owners</a>
        <a href="/CrewLeaders">Crew Leaders</a>
        <a href="/Employees">Employees</a>
        <a href="/PropertyOwned">Properties and their Owners</a>
    </div>

    <br>
    <br>
    Properties Page
    <br>
    <br>

    <table style="border:solid">
        <caption>Properties on file</caption>
        <thead>
            <th>Address:</th>
        </thead>

        <tbody>

            {{#each data}}
            <tr>
                <td>{{this.propAddress}}</td>
                <td><button>Update</button></td>
                <td><button onclick="deleteProperty({{this.propertyID}})">Delete</button></td>
            </tr>
            {{/each}}

        </tbody>
    </table>
    <br>

    <form id="addaddress" action="/properties" method="post">
        <fieldset>
            <legend>Add a new Property</legend>
            <label>
                Address: <input type="text" name="propAddress">
                <input type="submit" value="Submit" />
            </label>
        </fieldset>
    </form>

</body>
</html>