  
<h1>Update {{property.propAddress}}:</h1>
<form id="propertiesUpdate" action="/properties" method="post">
    Address: <input type="text" name="address" value="{{property.propAddress}}"><br>
</form>
<button onclick="updateProperties({{property.propertyID}})">Update</button>