<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Property Owned</title>
</head>
<body>
    
    <a href="/index">Home Page</a>
    <br>
    <br>
    PropertyOwned Page - Manage Properties and their Owners
    <br>
    <table style="border:solid">
        <caption>Properties and Owners</caption>
        <tr>
            <th>OwnerID</th>
            <th>PropertyID</th>
        </tr>
        <tr>
            <td>1</td>
            <td>1</td>
            <td>
                <button>Update</button>
            </td>
            <td>
                <button>Delete</button>
            </td>
        </tr>
    </table>
</body>
</html>