<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Property Owned</title>
</head>
<body>
    
    <a href="/index">Home Page</a>
    <br>
    <br>
    PropertyOwned Page - Manage Properties and their Owners
    <br>
    <br>
    <table style="border:solid">
        <caption>
            Properties Owned On File
        </caption>
        <thead>
            <th>Property ID</th>
            <th>Owner ID</th>
        </thead>
        <tbody>
            {{#each data}}
            <tr>
                <td>{{this.propertyID}}</td>
                <td>{{this.ownerID}}</td>
                <td><button>Update</button></td>
                <td><button>Delete</button></td>
            </tr>
            {{/each}}
        </tbody>
        
    </table>
</body>
</html>