<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/index">Home Page</a>
    <br>
    <br>
    Properties Page
    <br>
    <table style="border:solid">
        <tr>
            <th>Current Properties on file:</th>
        </tr>
        <tr>
            <td>address 1</td>
            <td>
                <button>Update</button>
            </td>
            <td>
                <button>Delete</button>
            </td>
        </tr>
    </table>
    <br>
    <form action="" method="">
        <fieldset>
            <legend>Add a new Property</legend>
            <label>
                Address: 
                <input type="text"/>
                <input type="submit" value="Submit" />
            </label>
        </fieldset>
    </form>
</body>
</html>