<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Properties</title>
</head>
<body>
    <a href="/index">Home Page</a>
    <br>
    <br>
    Properties Page
    <br>
    <br>
    
    <table style="border:solid">
        <caption>Properties on file</caption>
        <thead>
            <th>Address:</th>
        </thead>

        <tbody>

            {{#each properties}}
            <tr>
                <td>{{this.propAddress}}</td>
                <td><button>Update</button></td>
                <td><button>Delete</button></td>
            </tr>
            {{/each}}

        </tbody>
    </table>

    <br>
    <form action="" method="">
        <fieldset>
            <legend>Add a new Property</legend>
            <label>
                Address: 
                <input type="text"/>
                <input type="submit" value="Submit" />
            </label>
        </fieldset>
    </form>
</body>
</html>